# Binaries for programs
*.exe
*.exe~
*.dll
*.so
*.dylib
*.DS_Store
# Test binary, built with `go test -c`
*.test
# Output of the go coverage tool
*.out
# ignoring Json Files
*.json
# ignoring generated
generated/
# ignoring build
build/
# todo: ignoring swagger test file
swagger_test.go
